<h2>Nuova richiesta di offerta Distanziatori</h2>

<p>Presenza piedino: <strong>{{piedino}}</strong></p>
<p>Altezza (cm): <strong>{{altezza}}</strong></p>
<p>Numero pezzi (o metri): <strong>{{numeropezzi}}</strong></p>
<p>Cantiere o magazzino per eventuale consegna: <strong>{{cantieremagazzino}}</strong></p>
<br>
<h4>Informazioni di contatto</h4>
<p>Azienda: <strong>{{azienda}}</strong></p>
<p>Persona di contatto: <strong>{{personacontatto}}</strong></p>
<p>Email: <strong>{{email}}</strong></p>
<p>Telefono: <strong>{{telefono}}</strong></p>
<p>Informazioni aggiuntive: <strong>{{messaggio}}</strong></p>