<h2>Nuova richiesta di offerta Easyfit</h2>

<p>Forma sagoma ferro: <strong>{{sagoma}}</strong></p>
<p>Diametro (mm): <strong>{{diametro}}</strong></p>
<p>Numero pezzi: <strong>{{numeropezzi}}</strong></p>
<p>Diametro piastrine (mm): <strong>{{diametropiastrine}}</strong></p>
<p>Numero pezzi piastrine: <strong>{{numeropezzipiastrine}}</strong></p>
<p>Cantiere o magazzino per eventuale consegna: <strong>{{cantieremagazzino}}</strong></p>
<br>
<h4>Informazioni di contatto</h4>
<p>Azienda: <strong>{{azienda}}</strong></p>
<p>Persona di contatto: <strong>{{personacontatto}}</strong></p>
<p>Email: <strong>{{email}}</strong></p>
<p>Telefono: <strong>{{telefono}}</strong></p>
<p>Informazioni aggiuntive: <strong>{{messaggio}}</strong></p>