<h2>Nuova richiesta di offerta ferro</h2>

<p>Ubicazione cantiere: <strong>{{cantiere}}</strong></p>
<p>Quantità ferro: <strong>{{ferro}}</strong></p>
<p>Tipologia mezzi: <strong>{{mezziaccesso}}</strong></p>
<p>Gru di cantiere: <strong>{{grucantiere}}</strong></p>
<p>Data inizio cantiere: <strong>{{datainizio}}</strong></p>
<p>Tipologia cantiere: <strong>{{tipologiacantiere}}</strong></p>
<p>Studio ingegneria civile: <strong>{{ingegnere}}</strong></p>
<p>Tipologia fornitura: <strong>{{tipofornitura}}</strong></p>
<br>
<h4>Informazioni di contatto</h4>
<p>Azienda: <strong>{{azienda}}</strong></p>
<p>Email: <strong>{{email}}</strong></p>
<p>Telefono: <strong>{{telefono}}</strong></p>
<p>Informazioni aggiuntive: <strong>{{messaggio}}</strong></p>