<h2>Nuova richiesta di offerta ferro</h2>

<p>Denominazione cantiere: <strong>{{denominazionecantiere}}</strong></p>
<p>Ubicazione cantiere: <strong>{{cantiere}}</strong></p>
<p>Quantità ferro (t): <strong>{{ferro}}</strong></p>
<p>Cantiere acquisito: <strong>{{cantiereacquisito}}</strong></p>
<p>Tipologia mezzo delle max dimensioni del cantiere: <strong>{{mezziaccesso}}</strong></p>
<p>Limitazioni di accesso al cantiere: <strong>{{limitazionicantiere}}</strong></p>
<p>Fornitura con camion-gru: <strong>{{grucantiere}}</strong></p>
<p>Data inizio cantiere: <strong>{{datainizio}}</strong></p>
<p>Tipologia cantiere: <strong>{{tipologiacantiere}}</strong></p>
<p>Ha un interrato: <strong>{{presenzainterrato}}</strong></p>
<p>La struttura è prefabbricata: <strong>{{strutturaprefabbricata}}</strong></p>
<p>Descrivi tipologia cantiere: <strong>{{descrizionecantiere}}</strong></p>
<p>Studio ingegneria civile: <strong>{{ingegnere}}</strong></p>
<p>Tipologia fornitura: <strong>{{tipofornitura}}</strong></p>
<br>
<h4>Informazioni di contatto</h4>
<p>Azienda: <strong>{{azienda}}</strong></p>
<p>Persona di contatto: <strong>{{personacontatto}}</strong></p>
<p>Email: <strong>{{email}}</strong></p>
<p>Telefono: <strong>{{telefono}}</strong></p>
<p>Informazioni aggiuntive: <strong>{{messaggio}}</strong></p>