<h2>Nuova richiesta di offerta Legacci</h2>

<p>Lunghezza (cm): <strong>{{lunghezza}}</strong></p>
<p>Numero mazzi: <strong>{{numeromazzi}}</strong></p>

<br>
<h4>Informazioni di contatto</h4>
<p>Azienda: <strong>{{azienda}}</strong></p>
<p>Email: <strong>{{email}}</strong></p>
<p>Telefono: <strong>{{telefono}}</strong></p>
<p>Informazioni aggiuntive: <strong>{{messaggio}}</strong></p>